* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(44, 95, 128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
h3 {
  color: #eee;
  margin: 10px 0 20px;
}
.container {
  width: 600px;
}
textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 0px 0px 20px;
  font-family: inherit;
  font-size: 16px;
}
.tag {
  background-color: rgb(221, 100, 7);
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0px 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}
.tag.highlight {
  background-color: #273c75;
}
